html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.heading {
    color: #8B0000;
    font-size: 20px;
    height: 100%;

}

.heading a {
    color: palevioletred;
    font-size: 15px;
}

.name {
    color: palevioletred;
    font-size: 30px;
}

h5 {
    color: red;
    font-size: 20px;
}

p {
    color: darkred;
    font-size: 15px;
}

h2 {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.story {
    background-color: #f8f9fa;
    padding: 20px;
}

.form-group {
    width: 280px;
}

.custom-select {
    width: 280px;
}

.card-custom {
    max-width: 250px;
    width: 235px;
    height: 280px;
    float: left;
    margin-left: 10px;
    padding: 20px;
}

.card-img {
    max-height: 200px;
    max-width: 100px;
    object-fit: cover;
}
